[Unit]
Description=Run QEMU
Wants=network.target
After=network-online.target

[Service]
ExecStart=/bin/bash start_qemu.sh
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
