[Unit]
Description=Openrefine
After=syslog.target
After=network.target

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
RestartSec=2s
Type=simple
User=openrefine
Group=openrefine
WorkingDirectory=/home/openrefine/
ExecStart=/home/openrefine/openrefine-3.7.2/refine -i 0.0.0.0
Restart=always
Environment=USER=openrefine HOME=/home/openrefine

[Install]
WantedBy=multi-user.target
